body {
  font-family: "poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: c;
}
.container-fluid {
  width: 100%;
  height: 100%;
  background-color: rgb(243, 244, 239);
}
h1 {
  color: black;
  font-family: "poppins", sans-serif;
  font-weight: 700px;
  font-size: 72px;
  line-height: 98px;
}

h2 {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  padding-top: 30px;
}
.plant p {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 2px;
}

.plant {
  background-image: url(../images/henna-powder.jpeg);
  background-repeat: no-repeat;
  background-size: 1440px;
  border-radius: 5px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  height: 100%;
}

.section {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-gap: 5px;
  grid-template-columns: 400px 400px;
}
.section .col {
  grid-gap: 5px;
}

.section .col img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 5px;
}
.logo {
  max-width: 100px;
  border-radius: 5px;
}
