.container-fluid {
  width: 100%;
  height: 100%;
  background-color: rgb(243, 244, 239);
}
h1 {
  color: #88941e;
  font-family: "poppins", sans-serif;
  font-weight: 700px;
  font-size: 72px;
  line-height: 98px;
}

h2 {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  padding-top: 30px;
  color: #808a3b;
}
.plant p {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 2px;
  color: #88941e;
}

.plant {
  background-image: url(../images/henna-powder.jpeg);
  background-repeat: no-repeat;
  background-size: 1440px;
  border-radius: 5px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  height: 100%;
}

.section {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-gap: 5px;
  grid-template-columns: 400px 400px;
}
.section .col {
  grid-gap: 5px;
}

.contact {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.natural {
  text-align: center;
  font-size: 72px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
  line-height: 98px;
}
.card {
  margin: 0 auto;
  font-family: "poppins", sans-serif;
}
.card-title {
  font-size: 44px;
  font-weight: 300;
  color: #606c11;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.card-text {
  font-size: 13px;
}

.card-text:last-child {
  color: #88941e;
}
.img-fluid {
  margin: auto;
  display: block;
}
p {
  color: #88941e;
  margin-top: 10px;
  text-align: center;
}

.navbar-toggler-icon {
  color: #f28f92;
}
.navbar-brand {
  color: #f28f92;
}
.navbar-nav .nav-link.active {
  color: #f28f92;
}
.nav-link {
  color: #f28f92;
  font-size: 18px;
}
.email-link {
  display: flex;
  justify-content: center;
  font-size: 28px;
  text-decoration: none;
  color: #f28f92;
}

.email-link:hover {
  color: #606c11;
}

footer .social-links {
  color: #f28f92;
  text-align: center;
  margin: 60px 0;
}

footer .social-links:hover {
  color: #606c11;
}

@media (max-width: 800px) {
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }
  p {
    font-size: 14px;
  }
  image {
    display: block;
    margin: 0 auto;
  }
}
